<div class="cart">
    <div class="cart__container">
        <span class="cart__status cart__status--sale">-20%</span>
        <figure class="cart__frame">
            <img src="img/product.png" class="cart__img" alt="">
        </figure>
        <div class="cart__description">
            <h3 class="cart__description-category">Мелкая бытовая техника</h3>
            <a href="#" class="cart__description-title">Электрочайник из нержавеющей  стали Midea</a>
        </div>
        <div class="cart__footer cart-footer">
            <div class="cart-footer__price">
                <span class="cart-footer__price-old">1300 грн</span>
                <span class="cart-footer__price-actual">1190 <sup class="cart-footer__price-cents"> 17</sup> грн</span>
            </div>
            <a href="#" class="cart-footer__basket"> В корзину</a>
        </div>
    </div>
</div>

<div class="cart">
    <div class="cart__container">
        <span class="cart__status ">new</span>
        <figure class="cart__frame">
            <img src="img/product-two.png" class="cart__img" alt="">
        </figure>
        <div class="cart__description">
            <h3 class="cart__description-category">Мелкая бытовая техника</h3>
            <a href="#" class="cart__description-title">Электрочайник из нержавеющей  стали Midea</a>
        </div>
        <div class="cart__footer cart-footer">
            <div class="cart-footer__price">
                <span class="cart-footer__price-old">1300 грн</span>
                <span class="cart-footer__price-actual">1190 <sup class="cart-footer__price-cents"> 17</sup> грн</span>
            </div>
            <a href="#" class="cart-footer__basket"> В корзину</a>
        </div>
    </div>
</div>

<div class="cart">
    <div class="cart__container">
        <figure class="cart__frame">
            <img src="img/product.png" class="cart__img" alt="">
        </figure>
        <div class="cart__description">
            <h3 class="cart__description-category">Мелкая бытовая техника</h3>
            <a href="#" class="cart__description-title">Электрочайник из нержавеющей  стали Midea</a>
        </div>
        <div class="cart__footer cart-footer">
            <div class="cart-footer__price">
                <span class="cart-footer__price-old">1300 грн</span>
                <span class="cart-footer__price-actual">1190 <sup class="cart-footer__price-cents"> 17</sup> грн</span>
            </div>
            <a href="#" class="cart-footer__basket"> В корзину</a>
        </div>
    </div>
</div>