// @~ Media

$sr-min-540: "screen and (min-width: 540px)";
$sr-min-768: "screen and (min-width: 768px)";

// @~ Colors

$_footer: #eee;
$_footer-bottom: #eee;

$_background: #eee;
$_border: #eee;
$_button: #eee;
$_link: #eee;
$_description: #eee;
$_title: #eee;
$_active: #eee;
$_hover: #eee;

// @~ Fonts

$font: "";

// @~ Mixins

// ~ Example: @include _icons('url', cover, center, no-repeat);

@mixin _icons($url, $size: cover, $position: center, $repeat: no-repeat) {
    background-image: url($url);
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}